.video {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(214, 214, 214);
  transition: transform 0.2s ease;
  cursor: pointer;
}

.video:hover {
  transform: scale(1.05);
}

.thumbnail {
  flex:1.2;
  margin-right: 10px; 
}

/* 여기서 반응형 시작 */
.thumbnail img{
  width: 100%;
}

.info {
  flex:2;
  font-size: 0.9rem;
}

.info p{
  margin: 0;
}

.info p:nth-child(2) {
  color: gray;
  margin-top: 5px;
}
