.videoDetails {
  flex:7;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.videoDetails iframe {
  position: sticky;
  top: 0;
  width: 100%;
  min-width: 500px;
}

.description {
  white-space: pre-wrap;
}

