.videoDetails {
  flex-shrink: 1.5;
  /* flex-basis: 2.5; */
  flex-direction: column;
  width: 100%;
}

.videoDetails__video {
  position: sticky;
  top: 0;
}

.videoDetails__video iframe {
  width: 100%;
  min-width: 500px;
}

.videoDetails__section {
  padding-right: 10px;
}

.videoDetails__title {
  margin: 10px 0 20px 0;
}

.videoDetails__channelTitle {
  margin: 0;
}
