.videolists {
    padding: 0 10px;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px 10px;
}

.videolists__list {
  list-style: none;
  display: flex;
  align-items: center;
  padding: 10px;
  box-shadow: 2px 2px 5px rgb(214, 214, 214);
  transition: transform 0.2s ease;
}

.videolists__list:hover{
    transform: scale(1.05);
}

.list__thumbnail {
  margin-right: 10px;
}

.list__info {
  display: flex;
  flex-direction: column;
  font-size: 14px;
}

.list__info span:nth-child(2){
    color: gray;
}